body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 16px;
}

.video-container {
  flex: 1;
  display: flex;
  align-self: center;
  border: 1px solid #ccc;
}

.option-container {
  display: flex;
  flex-basis: 25%;
  justify-content: center;
  flex-direction: column;
  margin-left: 16px;
}